@font-face {
  font-family: "GT Cinetype";
  src: url("~assets/fonts/GT-Cinetype-Bold.woff") format("woff"),
    url("~assets/fonts/GT-Cinetype-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
